In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame(np.random.randn(5,3), index= list(range(1,6)), columns = list("ABC"))  #5X3 DataFrame

In [3]:
df

          A         B         C
1  1.732910  0.954702  1.207645
2  1.818260  0.352826 -1.397794
3  1.430600  0.460249  0.752120
4  1.042610 -1.225350 -0.258801
5 -0.841268 -0.545796  0.863438

In [4]:
df[df.B>0]

         A         B         C
1  1.73291  0.954702  1.207645
2  1.81826  0.352826 -1.397794
3  1.43060  0.460249  0.752120

In [6]:
df.loc[2:3, "B":"C"]    #locate

          B         C
2  0.352826 -1.397794
3  0.460249  0.752120

In [7]:
df.loc[2,"B"]

0.35282605924315497

In [8]:
df.loc[2,"B"] = 1

In [9]:
df

          A         B         C
1  1.732910  0.954702  1.207645
2  1.818260  1.000000 -1.397794
3  1.430600  0.460249  0.752120
4  1.042610 -1.225350 -0.258801
5 -0.841268 -0.545796  0.863438

In [10]:
df.loc[df.B>0, "C"] = 0

In [11]:
df

          A         B         C
1  1.732910  0.954702  0.000000
2  1.818260  1.000000  0.000000
3  1.430600  0.460249  0.000000
4  1.042610 -1.225350 -0.258801
5 -0.841268 -0.545796  0.863438